* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  margin-left: 16px;
  margin-right: 16px;
}

.box {
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0.313px;
}

.section-1 {
  width: 1698px;
  height: 106px;
  flex-shrink: 0;
  background: #ebead2;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.section-1 .box {
  width: 424px;
  height: 75px;
  flex-shrink: 0;
  border: 1px solid #979797;
  background: #fff;
}

.section-2 {
  width: 1698px;
  flex-shrink: 0;
  background: #ebead2;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-2 .box {
  border: 1px solid #979797;
  background: #fff;
  width: 50%;
  height: 75px;
  flex-shrink: 0;
}

.section-3 {
  width: 1698px;
  height: 106px;
  flex-shrink: 0;
  background: #ebead2;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 00px 30px;
}

.section-3 .box {
  width: 100px;
  height: 75px;
  flex-shrink: 0;
  border: 1px solid #979797;
  background: #fff;
}

.section-4 {
  width: 1698px;
  height: 212px;
  flex-shrink: 0;
  background: #ebead2;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.section-4 .box {
  width: 804px;
  height: 75px;
  flex-shrink: 0;
  border: 1px solid #979797;
  background: #fff;
}

.section-5 {
  width: 1698px;
  height: 230px;
  flex-shrink: 0;
  background: #ebead2;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 00px 15px;
}

.section-5 :nth-child(1) {
  width: 100px;
  height: 75px;
  flex-shrink: 0;
  border: 1px solid #979797;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-5 :nth-child(2) {
  width: 100px;
  height: 148.026px;
  flex-shrink: 0;
  border: 1px solid #979797;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-5 :nth-child(3) {
  width: 100px;
  height: 98.684px;
  flex-shrink: 0;
  border: 1px solid #979797;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-5 :nth-child(4) {
  width: 100px;
  height: 197.368px;
  flex-shrink: 0;
  border: 1px solid #979797;
  background: #fff;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
